
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header {
	padding 15px 15px 0 15px;
	text-align: center;
}

header .mobile {
	display: none;
}

header h1{
	display: inline;
}

nav ul{
	display: inline;
}


nav ul li {
	padding: 5px 10px;
	display: inline;
}

.high {
	color: #ddd;
}

nav ul li a {
	text-decoration: none;
	color: #666;
}

nav ul li a:hover {
	color: #ddd;
}

body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg0 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg1 {
	background-image: url('img3/GSplash.jpg');
	min-height: 95%;
}
.pimg2 {
	background-image: url("img3/MGPortret.jpg");
	min-height: 600px;
}
.pimg3 {
	background-image: url("img3/SnowGrzenio.jpg");
	min-height: 600px;
}
.pimg4 {
	background-image: url('img2/MonSkok3.jpg');
	min-height: 95%;
}
.pimg5 {
	background-image: url("img2/MonKite3.jpg");
	min-height: 600px;
}
.pimg6 {
	background-image: url("img2/KiteSplash.jpg");
	min-height: 600px;
}

.pimg7 {
	background-image: url('img1/My1.jpg');
	min-height: 95%;
}
.pimg8 {
	background-image: url("img1/M1.jpg");
	min-height: 600px;
}
.pimg9 {
	background-image: url("img1/G2.jpg");
	min-height: 600px;
	background-position: -30px;
}
.pimg0 {
	background-image: url("img1/MonKite2.jpg");
	min-height: 600px;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
	}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
}

.ptext .border {
	background-color: #282e34;
	color: #fff;
	padding: 20px;
	opacity: 0.7;
}

/* RESPONSIVE RULES*/

@media screen and (max-width: 563px){
	header .mobile {
		display: inline-block;
	}
	.pimg1 {
	background-position: -260px 0px;
	}
	.pimg3 {
	background-position: -300px 0px;
	}
	.pimg4, .pimg5, .pimg6 {
	background-position: -450px 0px;
	}

	/*.pimg9 {
		background-position: -100px;
	}*/

	header .desktop {
		display: none;
	}
}

footer {
	clear: both;
	background-color: #282e34;
	color: #ddd;
	text-align: center;
}

footer a {
	text-decoration: none;
	color:#ddd;
	border: solid 1px;
	border-color: #666;
	padding: 3px
}
 