* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  padding: 15px 15px 0 15px;
  min-height: 35px;
  max-height: 5%;
  display: flex;
}

header .mobile {
  display: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

nav ul {
  margin-left: 2em;
  display: flex;
}

nav li {
  padding: 5px 0 5px 20px;
}

nav a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

nav a:hover,
.high {
  color: rgb(155, 149, 149);
}

/* Body Content */

body,
html {
  height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7,
.pimg8,
.pimg9,
.pimg10,
.pimg11,
.pimg12 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95%;
}

.pimg1 {
  background-image: url("img3/GSplash.jpg");
}

.pimg2 {
  background-image: url("img3/MGPortret.jpg");
}

.pimg3 {
  background-image: url("img3/SnowGrzenio.jpg");
}

.pimg4 {
  background-image: url("img2/MonSkok3.jpg");
}

.pimg5 {
  background-image: url("img2/MonKite3.jpg");
}

.pimg6 {
  background-image: url("img2/KiteSplash.jpg");
}

.pimg7 {
  background-image: url("img1/My1.jpg");
}

.pimg8 {
  background-image: url("img1/M1.jpg");
}

.pimg9 {
  background-image: url("img1/G2.jpg");
  background-position: -30px;
}

.pimg10 {
  background-image: url("img1/Wanderlust.jpg");
}

.pimg11 {
  background-image: url("img1/View.jpg");
}

.pimg12 {
  background-image: url("img1/10.jpg");
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
  align-items: center;
}

.ptext {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
}

.border {
  background-color: #282e34;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}

/*Contact Form*/

h2 {
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}
form {
  width: 80% device-width;
  margin: 20px auto;
}

main p {
  width: 60%;
  margin: 0 20% 10% 20%;
}

input,
textarea,
button {
  font-family: arial;
  display: block;
  padding: 8px 16px;
  font-size: 1rem;
  margin: 10px auto;
  width: 60%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}

textarea {
  min-height: 200px;
  margin-bottom: 20px;
}

.valid {
  border-color: rgb(10, 184, 10);
}

.invalid {
  border-color: orange;
}

main input + p {
  font-family: arial;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
  color: orange;
  opacity: 0;
  height: 0;
}

main input.invalid + p {
  opacity: 1;
  height: auto;
}

.lightwidget-widget {
  width: 100%;
  border: 0;
  overflow: hidden;
}

footer {
  clear: both;
  background-color: #282e34;
  color: #ddd;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ddd;
  border: solid 1px;
  border-radius: 5px;
  border-color: #666;
  padding: 3px;
}

/* RESPONSIVE RULES*/

@media screen and (max-width: 730px) {
  /* NAVBAR BURGER ICON */
  .burger {
    padding: 20px;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
  }

  .animate .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .animate .l2 {
    opacity: 0;
  }
  .animate .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  header .mobile {
    display: inline-block;
  }

  header .desktop {
    display: none;
  }
}
